/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
br {
  display: block;
  content: "";
  margin-bottom: 1rem;
}
ul {
  list-style: none;
}

p,
li {
  line-height: 1.5rem;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #f5f5f5;
  margin-bottom: 4rem;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;
  position: relative;
}

h3::after {
  bottom: -2rem;
  left: 50%;
  content: "";
  display: block;
  background-color: #32bb8f;
  width: 75%;
  height: 3px;
  position: absolute;
  transform: translateX(-50%) scaleX(1);
}

h4 {
  padding-bottom: 1rem;
}

.icon {
  border-radius: 100%;
  background-color: #32bb8f;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  margin-right: 1rem;
  opacity: 0.8;
  transition: all 0.2s;
}

.icon:hover {
  opacity: 1;
}

.mobile-menu-icon {
  display: none;
}

/* QUOTE  */

.quote {
  position: relative;
  color: #2a2d34;
  text-align: center;
  line-height: 2.25rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  padding: 1rem 0;
  margin: 2rem auto;
  z-index: 1;
}

.quote::before,
.quote::after {
  position: absolute;
  display: block;
  color: #32bb8f;
  opacity: 0.5;
  z-index: -1;
  font-size: 10rem;
  text-align: left;
}

.quote::before {
  content: "“";
  top: 3rem;
  left: -5rem;
}

.quote::after {
  content: "”";
  bottom: -2rem;
  right: -3rem;
}

/* VIDEO  */

.video {
  position: relative;
}

.video-wrapper {
  position: relative;
  z-index: 1;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
}
.video-background {
  min-width: 100vw;
  min-height: 100vh;
}
.video-wrapper::after {
  position: absolute;
  width: 100vw;
  content: "";
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 9;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.2s linear 0s 1;
}
.modal-visible {
  display: flex;
}

.modal-content {
  position: relative;
  width: 60%;
  max-width: 800px;
  background-color: #f5f5f5;
  min-height: 70vh;
  padding: 3rem;
  padding-top: 6rem;
  border-radius: 0.5rem;
}

.person-description {
  display: flex;
  margin: 1rem;
  flex-direction: row;
}

.person-info {
  width: 100%;
  margin-right: 2rem;
}

.person-info p {
  margin-bottom: 1rem;
}
.person-photo {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.person-bio li {
  padding-bottom: 1rem;
}
.btn--close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.5rem;
  color: #32bb8f;
  opacity: 0.8;
  transition: all 0.2s;
}

.btn--close:hover {
  opacity: 1;
}

.icon--close {
  cursor: pointer;
}

.links-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  padding: 1rem;
}

#navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
}

.navigation-link a {
  color: #2a2d34;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  position: relative;
}

.navigation-link a:after {
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  background: #32bb8f;
  width: 75%;
  height: 3px;
  position: absolute;
  transition: transform 0.4s;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
}

.navigation-link a:hover::after,
.navigation-link--active a::after {
  transform: translateX(-50%) scaleX(1);
}

.navigation-logo {
  flex: 1;
}

.navigation-logo img {
  width: 5rem;
}

/* HOME  */

.video-wrapper--home::after {
  background-image: repeating-linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(255, 255, 255, 0.1) 2px,
    rgba(0, 0, 0, 0.1) 2px,
    rgba(0, 0, 0, 0.1) 4px
  );
}

.section--home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 10;
}

.section--home h1 {
  text-align: center;
  color: #f5f5f5;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #2a2d34;
  padding: 0 3rem;
}

/* ABOUT */

.section--about {
  background-image: url(/images/about.jpg);
}

.section--about p {
  color: #f5f5f5;
  width: 50%;
  margin-bottom: 3rem;
}

/* APPROACH  */

.section--approach {
  background-image: url(/images/approach.jpg);
  padding: 6rem 0;
}
.section--approach p {
  color: #f5f5f5;
  width: 50%;
  margin-left: auto;
}

.section--approach h3 {
  margin-left: auto;
}

/* MISSION  */

.section--mission {
  background-image: url(/images/mission.jpg);
  justify-content: flex-start;
  padding-top: 6rem;
}

.section--mission h3 {
  color: #2a2d34;
}

.section--mission p {
  width: 50%;
  margin: 0;
}

/* TEAM  */

/* .video-wrapper--team::after {
  /* background-image: repeating-linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.3) 0px,
    rgba(0, 0, 0, 0.3) 2px,
    rgba(0, 0, 0, 0.5) 2px,
    rgba(0, 0, 0, 0.5) 4px
  ); */

.section--team {
  background-image: url(/images/team.jpg);

  /* position: absolute; */
  /* min-width: 100vw;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 9; */
  color: #f5f5f5;
}

.team-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.team-card p {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.team-avatar {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background: #2a2d34;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #32bb8f;
  cursor: pointer;
}

.team-more {
  display: flex;
  opacity: 0;
  color: #f5f5f5;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

.team-more span {
  padding: 0.5rem 1rem;
  background-color: #32bb8f;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.team-avatar:hover .team-more {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.team-photo {
  width: 100%;
}
.team-avatar i {
  font-size: 9rem;
}

/* CONTACT  */

.section--contact {
  color: #f5f5f5;
  background-image: url(/images/contact.jpg);
}

.section--contact p br,
footer br {
  margin-bottom: 0;
}

.section--contact a {
  margin-left: -3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
}

.section--contact a span {
  transition: all 0.3s;
}
.section--contact a span:hover {
  color: #32bb8f;
}

/* FOOTER  */

footer {
  background: #2a2d34;
  color: #f5f5f5;
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem;
}

/* ANIMATIONS  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mobileMenuShow {
  0% {
    clip-path: circle(1% at 100% 0);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@media only screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
  .modal-content {
    width: 80%;
  }
  .navigation-link a {
    font-size: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
  }
  .section--mission p,
  .section--approach p,
  .section--about p {
    width: 75%;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 13px;
  }
  .quote {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1rem auto;
  }

  .quote::before,
  .quote::after {
    font-size: 6rem;
  }

  .quote::before {
    top: 3rem;
    left: -2rem;
  }

  .quote::after {
    bottom: 0;
    right: -1rem;
  }

  .modal-content {
    width: 90%;
    max-height: 90vh;
    min-height: 90vh;
    overflow: scroll;
    padding-top: 3rem;
  }

  .person-description {
    margin: 0;
    flex-direction: column;
  }

  .person-info {
    margin-right: 0;
  }

  .btn--close {
    top: 1rem;
    right: 1.5rem;
  }

  /* MOBILE MENU  */

  .mobile-menu-icon {
    color: #32bb8f;
    font-size: 2rem;
    z-index: 10;
  }

  .mobile-menu-icon--bars {
    display: block;
  }

  .mobile-menu {
    width: 100vw;
    height: 100vh;
  }

  .navigation-link a {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .navigation-link a:after {
    display: none;
  }

  .navigation-menu {
    overflow: hidden;
    width: 0;
    height: 0;
  }

  .navigation-menu--mobile {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #e8e8e8, #fff);
    animation: mobileMenuShow 0.3s linear 0s 1;
  }

  .navigation-link--active a {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7ed56f),
      to(#32bb8f)
    );
    background-image: linear-gradient(to right, #7ed56f, #32bb8f);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
  }

  .section--home h1 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .section--about {
  }
  .section--about p,
  .section--approach p,
  .section--mission p {
    width: 100%;
  }
  .section--mission {
    background-image: url(/images/mission-mobile.jpg);
  }
  .team-list {
    flex-direction: column;
  }
  .team-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
  .team-avatar {
    width: 5rem;
    height: 5rem;
    border: 2px solid #32bb8f;

    margin-right: 1rem;
  }

  .team-avatar i {
    font-size: 4rem;
  }

  .section--approach {
    padding: 0;
    background-image: url(/images/approach-mobile.jpg);
  }

  .section--contact {
    background-image: url(/images/contact-mobile.jpg);
  }

  .section--contact a {
    margin-left: 0;
  }

  .section--contact .icon {
    display: none;
  }
}
